[submodule "themes/hyde-hyde"]
	path = themes/hyde-hyde
	url = git@github.com:htr3n/hyde-hyde.git
[submodule "themes/tale"]
	path = themes/tale
	url = https://github.com/EmielH/tale-hugo.git
[submodule "themes/capsule"]
	path = themes/capsule
	url = https://github.com/sudorook/capsule
