{{ define "main" }}
<main class="album">
  <section id="gallery" >
    <h1>{{ .Title }}</h1>
    {{ if .Description }}
      <p class="albumDescription">{{ .Description }}</p>
    {{ end }}
    {{- if .Content }}
      <div class="albumContent">{{ .Content }}</div>
    {{- end }}
    {{- $photosForSale := where .Params.Pictures "PaymentLink" "ne" nil }}
    {{- $countForSale := len $photosForSale }}
    {{- $purchase := .OutputFormats.Get "purchase" -}}
    {{- $html := .OutputFormats.Get "html" -}}
    {{- if $purchase -}}
    {{- if gt $countForSale 0 -}}
    <div class="backToNormal"><a href="{{$html.RelPermalink}}">View original album page</a></div>
    <div class="availableForPurchase">
      <span class="notVisible"><a href="{{$purchase.RelPermalink}}"><strong>Note: </strong>Some of the photos on this page are available to buy, click here to view purchase links.</a><br/><br/></span>
      <span class="visible"><a href="{{$html.RelPermalink}}">Click "Buy original image" on photos below to be directed to Stripe to purchase the full-resolution original file. Click this message to hide the purchase links.</a></span>
    </div>
    {{- end }}
    {{- end }}
    <div class="photo-list" >
      {{- range .Params.Pictures }}
      {{ partial "singleImage.html" . }}
      {{- end }}
        <div class="spacer"></div>
    </div>
  </section>
</main>
{{ end }}
