{{ define "main" }}
<main class="album">
  <section id="gallery" >
    <h1>{{ .Title }}</h1>
    {{ if .Description }}
      <p class="albumDescription">{{ .Description | markdownify }}</p>
    {{ end }}
    {{- if .Content }}
      <div class="albumContent">{{ .Content }}</div>
    {{- end }}
    <div class="photo-list" >
      {{- range .Params.Pictures }}
      {{ partial "singleImage.html" . | partial "make-image-links-open-in-new-window" }}
      {{- end }}
        <div class="spacer"></div>
    </div>
  </section>
  <hr />

  <div class="post-info">
      {{ partial "album-meta.html" (dict "page" . "openInNewWindow" true) }}
  </div>

      <div class="post-info">
  {{ if .Params.comments }}
     <div id="comments" class="thin">
          {{- partial "comments.html" . -}}
     </div>
  {{ end }}

  {{ if .Site.Params.showRelated }}
  {{- partial "related.html" .  | partial "make-links-open-in-new-window" -}}
  {{end}}
     </div>
</main>
{{ end }}
