{{- $page := .page -}}
{{- $openInNewWindow := .openInNewWindow -}}

{{- with $page.Params.tags }}
    <p>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-tag meta-icon"><path d="M20.59 13.41l-7.17 7.17a2 2 0 0 1-2.83 0L2 12V2h10l8.59 8.59a2 2 0 0 1 0 2.82z"></path><line x1="7" y1="7" x2="7" y2="7"></line></svg>
        {{- range . -}}
            <span class="tag">
                <a{{ if $openInNewWindow }} target="_blank"{{ end }} href="{{ "tags/" | absURL }}{{ . | urlize }}/">{{ . }}</a>
            </span>
        {{- end }}
    </p>
{{- end }}

{{- if $page.Date -}}
<p><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
  {{- $startDate := $page.Params.startdate -}}
  {{- if ne $page.Params.startDate nil -}}
  {{- if eq (dateFormat "January 2, 2006" $startDate) ($page.Date.Format "January 2, 2006") -}}
  Photos taken on
  {{- else -}}
  Photos taken between<span class="albumDate">&nbsp;<relative-time datetime="{{ dateFormat "2006-01-02T15:04:05Z0700" $startDate }}" format="datetime">
      {{ if $page.Site.Params.dateformNumTime }}{{ dateFormat $page.Site.Params.dateformNumTime $startDate }}{{ else }}{{ dateFormat "2006-01-02 15:04 -0700" $startDate }}{{ end }}
    </relative-time></span>
     and
  {{- end -}}
  {{- end -}}
    <span class="albumDate">&nbsp;<relative-time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z0700" }}" format="datetime">
        {{ if $page.Site.Params.dateformNumTime }}{{ dateFormat $page.Site.Params.dateformNumTime $page.Date.Local }}{{ else }}{{ dateFormat "2006-01-02 15:04 -0700" $page.Date.Local }}{{ end }}
    </relative-time></span>
</p>
{{- end -}}

{{- if $page.GitInfo }}
    <p class="gitinfo"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit"><circle cx="12" cy="12" r="4"></circle><line x1="1.05" y1="12" x2="7" y2="12"></line><line x1="17.01" y1="12" x2="22.96" y2="12"></line></svg><a href="{{ $page.Site.Params.gitUrl }}{{ $page.GitInfo.Hash }}" target="_blank" rel="noopener">{{ $page.GitInfo.AbbreviatedHash }}</a> @ {{ if $page.Site.Params.dateformNum }}{{ dateFormat $page.Site.Params.dateformNum $page.GitInfo.AuthorDate.Local }}{{ else }}{{ dateFormat "2006-01-02" $page.GitInfo.AuthorDate.Local }}{{ end }}</p>
{{- end }}
