{{- $gallery := . }}
{{- with $gallery }}
{{- $photoCount := len .Params.Pictures }}
{{- $thumbnailIndex := .Params.Featured }}
{{- $thumbnail := index .Params.Pictures $thumbnailIndex }}
{{ $full := index ($thumbnail.Links) 0 }}
{{ $alt := $thumbnail.Caption }}
{{ if not $alt}}
{{ $alt = $thumbnail.Title }}
{{ end }}
{{ $srcset := "" }}
{{ range $thumbnail.Links }}
{{ $srcset = printf "%s %s %vw," $srcset .Url .Width }}
{{ end }}
{{ $srcset = trim $srcset ","}}
<a class="card" href="{{ .RelPermalink }}" title="{{ .Title }}">
    <img loading="lazy" width="{{ $full.Width }}" height="{{ $full.Height }}" src="{{ $full.Url }}" alt="{{ $alt }}"
    srcset="{{ $srcset }}" >
    <div>
        <h2 class="albumCardTitle">{{ .Title }}</h2>
        <span>{{ $photoCount }} photos</span>
        {{ with .Description }}<p>{{ . | markdownify | plainify | truncate 120 }}</p>{{ end }}
    </div>
</a>
{{- end }}
