{{- $rootPath := .Site.Params.homegrownAnalytics }}
<noscript>
    <img class="analytics-pixel" src="{{ $rootPath }}&page={{ .RelPermalink }}&title={{ .Title }}" height="1" width="1">
</noscript>
<div id="analytics">
</div>
<script>
    if (document.prerendering) {
        document.addEventListener("prerenderingchange", initAnalytics, {
            once: true,
        });
    } else {
        initAnalytics();
    }

    function initAnalytics() {
        var referrer = document.referrer;
        var img = document.createElement("img");
        img.src = "{{ $rootPath }}&page={{ .RelPermalink }}&title={{ .Title }}&js_enabled";
        img.height = "1";
        img.width = "1";
        img.className="analytics-pixel";
        if (referrer) {
            img.src += "&referrer=" + encodeURIComponent(referrer);
        }
        document.getElementById('analytics').appendChild(img);
    }
</script>