{{ define "main" }}
<main class="homepage">
    <div class="intro">
        <h1>{{ .Site.Title }}</h1>

        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>
    <h2>General Tech Posts</h2>
    <ol class="recent">
        {{- range where .Site.RegularPages ".Params.tags" "intersect" (slice "Engineering Management") -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="summary">{{.Summary}}</div>
        </li>
        {{- end -}}
    </ol>
    <h2>Other Featured Posts</h2>
    <ol class="recent">
        {{- range where .Site.RegularPages "Params.featured" true -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <!-- <div class="summary">{{.Summary}}</div> -->
        </li>
        {{- end -}}
    </ol>

    <h2>Even More Posts!</h2>
    <p><a href="/blog/">See all my past blog posts</a></p>

</main>
{{ end }}