{{ define "main" }}
<main class="homepage">
    <div class="intro">
        <h1>{{ .Site.Title }}</h1>

        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>
    <h2>Photography Content</h2>
    <ol class="recent">
        {{- $posts :=  where .Site.RegularPages ".Params.tags" "intersect" (slice "Photography")}}
        {{- range first 3 (where $posts "Type" "posts") -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="summary">{{.Summary | plainify }}</div>
            <div class="meta">
                <relative-time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700"}}" format="relative" prefix="">
                    {{ if .Site.Params.dateformNumTime }}{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}{{ else }}{{ dateFormat "2006-01-02 15:04 -0700" .Date.Local }}{{ end }}
                </relative-time>
            </div>
    </li>
        {{- end -}}
    </ol>

    <h2>Posts on Engineering Management</h2>
    <ol class="recent">
        {{- range first 3 (where .Site.RegularPages ".Params.tags" "intersect" (slice "Engineering Management")) -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <div class="summary">{{.Summary | plainify }}</div>
            <div class="meta">
                <relative-time datetime="{{ .Date.Format "2006-01-02T15:04:05Z0700"}}" format="relative" prefix="">
                    {{ if .Site.Params.dateformNumTime }}{{ dateFormat .Site.Params.dateformNumTime .Date.Local }}{{ else }}{{ dateFormat "2006-01-02 15:04 -0700" .Date.Local }}{{ end }}
                </relative-time>
            </div>
        </li>
        {{- end -}}
        {{- range after 3 (where .Site.RegularPages ".Params.tags" "intersect" (slice "Engineering Management")) -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <!-- <div class="summary">{{.Summary}}</div> -->
        </li>
        {{- end -}}
    </ol>
    <h2>Other Featured Posts</h2>
    <ol class="recent">
        {{- range where .Site.RegularPages "Params.featured" true -}}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <!-- <div class="summary">{{.Summary}}</div> -->
        </li>
        {{- end -}}
    </ol>

    <h2>Even More Posts!</h2>
    <p><a href="/blog/">See all my past blog posts</a></p>

</main>
{{ end }}