{{ define "main" }}
    <main class="post">
        <div class="post-info">
            <p><span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>{{ i18n "readingTime" .Page.ReadingTime }}</span>
                {{ partial "shareOpenly.html" . | partial "make-links-open-in-new-window"}}
            </p>
        </div>
        <article>
            <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>

            {{ partial "toc.html" . }}

            {{ with .Params.Cover }}
                <img src="/img/{{ . }}" class="post-cover" />
            {{ end }}

            <div class="post-content">
                {{ .Content | partial "add-header-anchors" | partial "make-links-open-in-new-window" }}
            </div>
        </article>
        <hr />
        <div class="feedback">
            <p>Thoughts on this post? <a target="_blank" href="https://bsky.app/profile/duncanmackenzie.net">Feel free to reach out on Bluesky!</a></p>
        </div>

        <hr />

        <div class="post-info">
            {{ partial "post-footer-meta.html" (dict "page" . "embed" true) }}
        </div>

        {{ if .Site.Params.showRelated }}
        {{- partial "related.html" .  | partial "make-links-open-in-new-window" -}}
        {{end}}
    </main>
{{ end }}
